[include]
  path = ~/.config/git/catppuccin.gitconfig
  path = ~/.config/git/user.gitconfig
  path = ~/.config/git/credentials.gitconfig
  path = ~/.config/git/sign.gitconfig

[core]
    hooksPath = ~/.config/git/hooks
    pager = delta
[init]
  defaultBranch = master
[pull]
  rebase = true

[delta]
  features = catppuccin-mocha
